<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
  <test name="Niki Test">
    <classes>
      <class name="testniki.TestCase08"/>
      <class name="testniki.TestCase19"/>
      <class name="testniki.TestCase28"/>
      <class name="testniki.TestCase30"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
